<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websniff Index</title>
</head>
<body>
<h1>Websniff Index</h1>
<h3><a href="/sniffapp/firstpush/">Voteless Candidates</a></h3>
<h3><a href="/sniffapp/secondpush/">Pushed Candidates</a></h3>
<h3><a href="/sniffapp/likelycandidates/">Likely Candidates</a></h3>
<!--
<h3><a href="/sniffapp/results/">Our Results</a></h3>
<h3>Gravitational Wave Events to Sniff:</h3>
{% for event in gwevent_list %}
<li><a href="/sniffapp/{{ event.gwevent }}/">{{ event.gwevent }}</a></li>
{% endfor %}
-->
</body>
</html>